.ccf-rank{
    display: inline-block !important;
    height: 18.35px !important;
    font-size: 12px !important;
    line-height: 1.4 !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
    color: #ffffff !important;
    border-radius: 9px !important;
    padding: 1px 8px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    background-color: #6c757d !important;
}

.ccf-a {
    background-color: #dc3545 !important;
}

.ccf-b {
    background-color: #ffc107 !important;
}

.ccf-c {
    background-color: #28a745 !important;
}

.ccf-tooltip {
    display: inline-block !important;
    position: relative !important;
}

.ccf-tooltip .ccf-tooltiptext {
    visibility: hidden !important;
    background-color: #007bff !important;
    border-radius: 6px !important;
    padding: 5px 5px !important;
    bottom: 100% !important;
    left: 50% !important;
    position: absolute !important;
    z-index: 980624 !important;
    margin-left: -60px !important;
}

.ccf-tooltip:hover .ccf-tooltiptext {
    visibility: visible !important;
}
